@use '../common' as *;

.about-section {
  @extend .section-margin;
  color: $primaryText;

  a {
    color: $primaryText;
    transition: all 0.5s $easeOutCirc;

    &:hover,
    &:focus {
      color: $primaryDark;

      &:visited {
        color: $visitedLink;
      }
    }
  }
}
