@use '../common' as *;

.loading-container {
  @extend .flex-row;
  @extend .flex-item-dynamic;
  justify-content: center;
  align-items: center;

  svg {
    height: 24px;
    width: 24px;
    animation: spin 1s linear infinite;
  }
}
