@use '../common' as *;

.projects-fallback {
  @extend .section-margin;
  @extend .custom-link;

  color: $primaryText;
}

.projects-section {
  @extend .flex-column;
  @extend .section-margin;

  p {
    color: $primaryText;
  }
}

.projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  .project-card {
    margin: 0.5rem;
  }
}
