body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.h-list *+* {
    margin-left: 8px;
}

.v-list *+* {
    margin-top: 8px;
}

.header {
    margin: 16px;
    justify-content: space-between;
    align-items: center;
}

.hero-banner {
    position: relative;
}

.hero-background {
    position: relative;
    width: 100%;
}

.mugshot {
    height: 20%;
    width: 20%;
    position: absolute;
    border-radius: 50%;
    top: 32%;
    right: 15%;
}

.title {
    margin: 8px;
    font-size: 32px;
    font-weight: bold;
}

.anchor-bar {
    margin-right: 8px;
}

.anchor-bar span {
    font-size: 20px;
}

.anchor-bar *+* {
    margin-left: 16px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-item-static {
    flex: 0 1 auto;
}

.flex-item-dynamic {
    flex: 1 1 auto;
}
